[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[type="file"]+label {
  background-color: #343a40;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  line-height: 4.8rem;
  padding: 0;
  width: 5rem;
  height: 5rem;
  text-align:center;
  transition: color 0.3s;
}

[type="file"]:focus+label,
[type="file"]+label:hover {
  color: #17a3b8;
}

[type="file"]:focus+label {
  outline: 1px dotted #343a40;
  outline: -webkit-focus-ring-color auto 5px;
}

.container {
  margin: 70px 0;
}

.display-img {
  max-width: 100%;
  border-radius: 15px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  transform:rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform-origin: center;
  /* margin-right: 5rem; */
}

.submit-status {
  z-index: 99999;
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative !important;
}
