[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[type="file"]+label {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  line-height: 5rem;
  padding: 0;
  width: 5rem;
  height: 5rem;
  text-align:center;
  transition: background-color 0.3s;
}

[type="file"]:focus+label,
[type="file"]+label:hover {
  background-color: #17a2b8;
}

[type="file"]:focus+label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.display-img {
  max-width: 100%;
  border-radius: 15px;
  border-top: 1px solid black;
  border-right: 1px solid black;
}