.alert {
    z-index: 99999;
    margin-top: 4rem;
    margin-left: auto !important;
    margin-right: auto !important;
    position: absolute !important;
}

.custom-font {
    font-family: 'Hind Siliguri', sans-serif;
}

.font-light {
    font-weight: 300;
}