.alert {
    z-index: 99999;
    margin-top: 4rem;
    position: absolute !important;
}

.custom-font {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
}

.font-light {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 300;
}
