.mapImg {
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 5%;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform-origin: center;
    margin: 30px 0;
}

.imgIOS {
    max-width: 15rem;
    max-height: 15rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border-radius: 5%;
}
